/* STILI GENERALI  */


.fabindia-products-grid{

    h3.fabindia-product-title {
    font-family: 'Inter'!important;
    text-transform: capitalize!important;
}

}


.btn, .rte .btn, .shopify-payment-button .shopify-payment-button__button--unbranded {
    font-weight: 400!important;

}

.fr-color-name {
    -webkit-line-clamp: var(--line-clamp-count, 1) !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    overflow: hidden !important;
    margin-bottom: 0px !important;
}


.fr-hero-title {
    font-weight: 400!important;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.hero-collections__item-overlay {
    top: 50px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 170%) !important;
}



.fabindia-not-ethnic__timeline {
    display: none;
}

.fabindia-not-ethnic__testimonials {
    display: none !important;
}



button.btn.btn--full.add-to-cart.disabled {
    border: 1px solid #3E3E3E !important;
    color: #3E3E3E !important;
}

.page-full,
.page-width {
    padding: 0 10px !important;
}

button.btn.btn--full.add-to-cart.disabled:hover {
    background-color: #F6F6F6 !important;
}

.step-cta .btn {
    width: 100% !important;
}





/* MOBILE VISTA */
@media only screen and (max-width: 589px) {

  .info-section  p {
    margin: 0;
    text-align: center;
}

    

    .ft-timeline-container {
        padding: 20px 10px 10px !important;
    }

    .ft-step-content {
        min-height: 55px !important;
    }

  
    .hero-collections__item-content {
        padding: 0px 0px 10px 0px;
    }

    .process-reason {
        margin-top: -20px !important;
    }

    .hero-collections__grid {
        display: flex !important;
        flex-wrap: nowrap !important;
        padding: 0 !important;
    }

    .btn,
    .rte .btn,
    .shopify-payment-button .shopify-payment-button__button--unbranded {
        font-size: max(calc(var(--typeBaseSize) - 5px), 15px);
        padding: 16px 17px !important;
    }
}

/* DESKTOP VISTA */
@media only screen and (min-width: 590px) {


    .fr-color-title {
    font-size: 15px;
    font-weight: 400;
    align-items: baseline;
    gap: 5px;
  }
    
    .image-wrap.loaded {
        border-radius: 8px;
    }

    .product__thumb-item a.is-active:before,
    .product__thumb-item a:focus:before {
        border-radius: 8px !important;
    }

    .info-section {
        padding: 25px;
        border-radius: 20px;
    }

    .fabindia-faq-content {
        display: flex;
        align-items: stretch;
        gap: 90px;
    }

    .parte_sopra {
        flex-basis: 70%;
    }

    .fabindia-faq-image {
        flex-basis: 50%;
    }

    div#HeaderWrapper .page-width {
        max-width: 1700px !important;
    }

    div#HeaderWrapper .header-item {
        align-items: flex-end;
        justify-content: center;
    }

    .process-reason {
        margin-top: -10px !important;
    }

  

    .hero-collections__cta-wrapper .btn--full {
        width: 25%;
    }

    .btn,
    .rte .btn,
    .shopify-payment-button .shopify-payment-button__button--unbranded {
        font-size: max(calc(var(--typeBaseSize) - 4px), 15px);
        padding: 17px 35px !important;
    }
}

/* RIMUOVI QUESTE CLASSI: */

button.size-guide-trigger {
    border-radius: 12px;
    border: 1px solid black;
}

/* Mobile vista - size guide specific */
@media only screen and (max-width: 589px) {
    button.size-guide-trigger {
        margin-top: -15px;
        width: fit-content !important;
        align-content: center;
        justify-content: flex-start;
        display: inline-flex;
        padding: 12px 37px 12px 17px !important;
        border: 1px solid #C33A32 !important;
        border-radius: 50px 0px 0px 50px !important;
    }
    
    .product-block.product-block--size-guide {
        text-align: right !important;
        margin-right: -20px;
    }
}

/* Desktop vista - size guide specific */
@media only screen and (min-width: 590px) {
    button.size-guide-trigger {
        width: fit-content !important;
        align-content: center;
        justify-content: flex-start;
        display: inline-flex;
        padding: 12px 37px 12px 17px !important;
        border: 1px solid #C33A32 !important;
        border-radius: 0px 50px 50px 0px !important;
    }
    
    .size-guide-panel.active[data-panel="measurements"] {
        display: flex;
    }
}

.info-section {
    border-radius: 20px;
}